<div class="sheet">
  <header class="sheet__header">
    <div class="sheet__header-left">
      {{ sheet_header_left }}
    </div>
    <div class="sheet__header-right">
      <div class="sheet__header-menu">
        {{ sheet_header_menu }}
      </div>
    </div>
  </header>

  <main class="sheet__content">
      {{ content }}
  </main>

  <footer class="sheet__footer">
    <div class="sheet__footer-outer-left">
      {{ sheet_footer_outer_left }}
    </div>
    <div class="sheet__footer-inner-left">
      {{ sheet_footer_inner_left }}
    </div>
    <div class="sheet__footer-inner-right">
      {{ sheet_footer_inner_right }}
    </div>
    <div class="sheet__footer-outer-right">
      {{ sheet_footer_outer_right }}
    </div>
  </footer>
</div>
